body{
	font: 11px Arial, Helvetica, sans-serif
}

input, select{
	font: 11px Arial, Helvetica, sans-serif;
	border: thin;
	border-color: #FFDE80;
}

select:FOCUS, input:FOCUS{
	background-color: #FFDE80;
}

input:DISABLED {
	color: #585858;
	background-color: #CCC;
	border-bottom-style: solid;
}

input[type="radio"] {
	background: none;
}

.tabla {
	width: 90%;
	float: left;
}

.encabezado {
	width: 100%;
	height: 58px;
	float: left;
	margin: 0;
	padding: 0;
}

.divGreen {
	background-color: #2f8a3a;
	width: 80%;
	height: 100%;
}

.grennIzq {
	background-color: #8fc97b;
	height: 100%;
	width: 7%;
}

.form {
	background-color: #f8971d;
	padding: 5px;
}
.subtabla {
	padding-bottom: .2em;
	width: 100%;
	margin: 0px;
	padding: 0;
}

.tbForm {
	margin-left: 3em;
	padding-left: 3em;
}

.pfondo {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #CCC;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}

.label {
	font: 14px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFF;
	margin: 0;
	padding: 0;
}

.label2 {
	font: 11px Arial, Helvetica, sans-serif;
	color: #FFDE80;
}

.label3 {
	font: 11px Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
}

.error {
	font: 10px bold Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #983423;
}

.load {
	font: 10px bold Arial, Helvetica, sans-serif;
	color: #666;
}

.gr {
	color: #666;
}

#grid {
	width: 100%;
}

#grid th {
	margin-left: 5px;
	margin-right: 5px;
}

#grid thead {
	background: #015231;
	color: #b0c4de;
	font: 12px Tahoma;
	font-weight: bold;
}

#grid thead a:link {
	color: #b0c4de;
	text-align: center;
	text-decoration: none;
}

#grid tbody {
	font: 12px Tahoma;
}

#grid tbody tr:hover {
	background: #dff6e1;
}

.upper {
	text-transform: uppercase;
}

.even {
	background: #dff6e1;
}

.subtitulo1 {
	font: Arial, Helvetica, sans-serif 13px;
	font-weight: bold;
	margin-top: 1em;
	margin-left: 1em;
}

.link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	cursor: pointer;
	text-decoration: none;
}

.link:hover {
	color: #666;
	text-decoration: none;
}

.link td:hover {
	color: #666;
	text-decoration: underline;
}

.rignt {
	float: right;
}

.link:visited {
	color: #ccc;
}

.oculto {
	display: none;
	z-index: -999;
	color: #fff;
	background: #fff;
}

.scroll {
	height: 290px;
	right: 5px;
	top: 0;
	bottom: 0;
	overflow: auto;
	border: 1px gray solid;
	scrollbar-face-color: #4D4D4D;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-highlight-color: #A3A3A3;
	scrollbar-3dlight-color: #A3A3A3;
	scrollbar-shadow-color: #A3A3A3;
	scrollbar-darkshadow-color: #A3A3A3;
	scrollbar-track-color: #111;
}

.cargando {
	position: absolute;
	top: 40%;
	left: 47%;
	z-index: 999;
	height: 65px;
	width: 65px;
	background: transparent;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	filter: alpha(opacity = 30);
	opacity: 0.35;
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	background: #000000 no-repeat;
	z-index: 1;
}

.borde {
	margin: 2px;
	border: 1px solid #bbb;
}

.grid {
	width: 100%;
}

.grid th {
	margin-left: 5px;
	margin-right: 5px;
}

.grid thead {
	background: #015231;
	color: #b0c4de;
	font: 12px Tahoma;
	font-weight: bold;
}

.grid thead a:link {
	color: #b0c4de;
	text-align: center;
	text-decoration: none;
}

.grid tbody {
	font: 12px Tahoma;
}

.grid tbody tr:hover {
	background: #dff6e1;
}